.text-wite{
    color: white;

/* Desktop_tablet/H2 */
font-family: Gilroy;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 44px; /* 91.667% */
letter-spacing: -0.96px;
width: 690px;

}
.text-gray{
    color: rgba(251, 251, 251, 0.50);
/* Desktop_tablet/H2 */
font-family: Gilroy;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 44px;
letter-spacing: -0.96px;
}
.contact{
    color: #FBFBFB;

text-align: center;
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
border-radius: 30px;
border-radius: 16px;
border: 1px solid rgba(251, 251, 251, 0.15);
height: 30px;
background-color: transparent;
margin-left: 140px;
padding-top: 14px;
padding-left: 25px;
padding-right: 25px;
padding-bottom: 24px;
}

.pos{
    display: flex;
    background: url(../../img/advertismant/bacraun\ .png) rgb(12, 12, 12) -20px -114px / 111.304% 241.611% no-repeat;
    border-radius: 30px;
    padding: 83px;

}

.advert{
   
 

}
