.text-wite {
   
    color: white;

    /* Desktop_tablet/H2 */
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 91.667% */
    letter-spacing: -0.96px;


}

.text-gray {
    color: rgba(251, 251, 251, 0.50);
    /* Desktop_tablet/H2 */
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.96px;
}

.contact2 {
    color: #FBFBFB;

    text-align: center;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 128.571% */
    border-radius: 30px;
    border-radius: 16px;
    border: 1px solid rgba(251, 251, 251, 0.15);

    background-color: transparent;
    margin-left: 140px;

    width: 160px;
    height:30px;
    padding-top: 10px;
    

    flex-shrink: 0;
    padding: 9px;
    padding-bottom: 0px;

}

.pos {
    display: flex;
    background: url(../img/advertismant/bacraun.png) rgb(12, 12, 12) -20px -114px / 111.304% 241.611% no-repeat;
    border-radius: 30px;

    padding: 68px 26px;


}

.advert {}


@media screen and (max-width:1200px) {

    .text-wite {
       
        flex-shrink: 0;
    }

    .pos {
        display: flex;
        flex-direction: column;

    }

    .contact2 {
        margin-left: -0;
        margin-top: 22px;
    }
}

@media screen and (max-width:719px) {

    .text-wite {
       
        flex-shrink: 0;
        font-size: 30px;
    }

    .text-gray {
        font-size: 30px;
    }

    .pos {
        display: flex;
        flex-direction: column;

    }

    .contact2 {
        margin-left: -0;
        margin-top: 72px;
    }

}