.hero {
    padding: 80px;

    &__box {
        display: flex;
    }

    &__subbox {}

    &__subboox2 {
        
    }

    &__title {
        color: #0C0C0C;
        font-family: Gilroy;
        font-size: 72px;
        font-weight: 600;
        line-height: 63px;
        letter-spacing: -1.44px;
    }

    &__blue-title {
        color: #3350E9;
        font-family: Gilroy;
        font-size: 72px;
        font-weight: 600;
        line-height: 63px;
        letter-spacing: -1.44px;
    }

    &__text {
        color: rgba(12, 12, 12, 0.70);
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.32px;
    }
}

.scrol-down {
    color: #0C0C0C;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.4px;
    text-decoration-line: underline;
}