.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  outline: red solid;
  max-width: 355px;

  @media screen and (min-width: 720px) {
    max-width: 720px;
    padding-left: 8px;
    padding-right: 8px;
  }

  @media screen and (min-width: 1174px) {
    max-width: 1174px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

html {
  scroll-behavior: smooth;
}
