<section class="about">
    <div class="container about__container">
        <div class="about__title1">
            <h2 class="about__item">About Us</h2>
            <p class="about__text1">Welcome to our premium watch collection, where luxury and style meet
                functionality and
                precision. Our selection of timepieces embodies the very best in Swiss craftsmanship and
                engineering, ensuring that you'll always have a reliable and stylish accessory on your
                wrist.</p>
            <p class="about__text2">At our premium watch collection, we believe that a watch is more than just
                a timekeeping
                device – it's a statement piece that reflects your personality and style. So why settle for
                anything less than the best? </p>
            <button class="about__button"  type="button">
                <a href="#scroling">View catalog</a>
            </button>
        </div>
        <div class="about__title2">
            <picture>
                <source media="(min-width: 1174px)"
                    srcset="./img/desktop/watch1xdesctope.webp 1x, ./img/desktop/watch2xdesctope.webp 2x">
                <source media="(min-width: 720px)"
                    srcset="./img/tablet/watch1xtablet.webp 1x, ./img/tablet/watch2xtablet.webp 2x">
                <source media="(min-width: 355px)"
                    srcset="./img/mobile/watch1xmobail.webp 1x, ./img/mobile/watch2xmobail.webp 2x">
                    <img class="about-watch" src="./img/about-us/watch-about.jpg" alt="">
            </picture>
           
        </div>
    </div>
</section>