<section class="catalog">
  <div class="container">
    <h3 class="log">Catalog</h3>
    <ul class="cards">
      <div class="ddd1">
        <li class="bac">
          <img src="./img/advertismant/watch1.png" alt="waches" class="waches" />
          <h3 class="name">Garmin Fenix 7X Pro Sapphire Sol</h3>
          <p class="cost">€500</p>
        </li>

        <li class="bac">
          <img src="./img/advertismant/watch2.png" alt="waches" class="waches" />
          <h3 class="name">Garmin Marq Athlete</h3>
          <p class="cost">€450</p>
        </li>

        <li class="bac">
          <img src="./img/advertismant/watch3.png" alt="waches" class="waches" />
          <h3 class="name">Garmin Descent MK1</h3>
          <p class="cost">€680</p>
        </li>
      </div>
      <div class="ddd">
        <li class="bac1">
          <img src="./img/advertismant/watch4.png" alt="waches" class="waches" />
          <h3 class="name">Garmin D2 Delta PX</h3>
          <p class="cost">€380</p>
        </li>

        <li class="bac1">
          <img src="./img/advertismant/watch5.png" alt="waches" class="waches" />
          <h3 class="name">Garmin Fenix 6 Pro Solar</h3>
          <p class="cost">€400</p>
        </li>

        <li class="bac1">
          <img src="./img/advertismant/watch6.png" alt="waches" class="waches" />
          <h3 class="name">Tube Watch S42 Date Steel With</h3>
          <p class="cost">€395</p>
        </li>
      </div>
    </ul>
    <button class="show" type="button">Show more</button>
  </div>
</section>
