<section id="scroll-contact-us" class="contact-us">
  <div class="container">
    <h2 class="contact-tittle">Contact Us</h2>
    <div class="contact-container">
      <form class="contact-form">
        <h3 class="contact-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </h3>
        <label class="contact-lable">
          <input class="contact-input" type="text" placeholder="Name" /> </label
        ><label class="contact-lable">
          <input class="contact-input" type="text" placeholder="Email" /></label
        ><label class="contact-lable">
          <input class="contact-input" type="text" placeholder="+380" /></label
        ><label class="contact-lable">
          <input
            class="contact-input-com contact-input"
            type="text"
            placeholder="Comment"
        /></label>
        <label class="contact-lable">
          <button class="contact-button">Send</button>
        </label>
      </form>
      <div class="contact-dark-container">
        <picture>
          <source
            media="(min-width: 1174px )"
            srcset="
              ./img/desktop/contact-dark-time-desktop@1x.webp 1x,
              ./img/desktop/contact-dark-time-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 720px )"
            srcset="
              ./img/tablet/contact-dark-time-tablet@1x.webp 1x,
              ./img/tablet/contact-dark-time-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 355px)"
            srcset="
              ./img/mobile/contact-dark-time-mobile@1x.webp 1x,
              ./img/mobile/contact-dark-time-mobile@2x.webp 2x
            "
          />
          <img
            src="./img/connact-us/contact-dark-time.png"
            alt="dark-time"
            class="contact-time"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
