<section class="contact">
  <div class="container">
    <h3 class="contact-tittle">Contact Us</h3>
    <div class="contact-container">
      <form class="contact-form" action="">
        <label class="contact-lable" for=""
          ><h5 class="contact-text">
            Please use the form below to contact us. Enter your name, email,
            phone, and message and we'll get back to you shortly.
          </h5></label
        >
        <label for="" class="contact-lable">
          <input class="contact-input" type="text" placeholder="Name" /> </label
        ><label for="" class="contact-lable">
          <input class="contact-input" type="text" placeholder="Email" /></label
        ><label for="" class="contact-lable">
          <input class="contact-input" type="text" placeholder="+380" /></label
        ><label for="" class="contact-lable">
          <input
            class="contact-input-com contact-input"
            type="text"
            placeholder="Comment"
        /></label>
        <label class="contact-lable" for="">
          <button class="contact-button">Send</button>
        </label>
      </form>
      <div class="contact-dark-container">
        <img
          src="./img/connact-us/contact-dark-time.png"
          alt="dark-time"
          class="contact-time"
        />
      </div>
    </div>
  </div>
</section>
