<footer>
    <ul class="footer__list">
        <li class="footer__item">
            <h2></h2>
            <ul class="footer__svg-list">
                <li class="footer__svg-item">
                    <svg class="footer__svg">
                        <use></use>
                    </svg>
                </li>
                <li class="footer__svg-item">
                    <svg class="footer__svg">
                        <use></use>
                    </svg>
                </li>
                <li class="footer__svg-item">
                    <svg class="footer__svg">
                        <use></use>
                    </svg>
                </li>
            </ul>
        </li>
        <li class="footer__item"><h2></h2></li>
        <li class="footer__item"><button></button></li>
    </ul>
</footer>