<footer class="footer">
    <div class="container">
        <div class="footer__big-box">
            <div class="footer__titles-box">
                <div>
                    <h2 class="footer__headline">watchcharm</h2>
                    <div class="footer__svg-box">
                        <svg class="footer__svg">
                            <use href="../icons.svg#icon-facebook-svg"></use>
                        </svg>
                        <svg class="footer__svg footer__svg-center">
                            <use href="../icons.svg#icon-instagram-svg"></use>
                        </svg>
                        <svg class="footer__svg">
                            <use href="../icons.svg#icon-youtube-svg"></use>
                        </svg>
                    </div>
                </div>

                    <p class="footer__ask-text">Have the time of your life with our watches: where high-class
                        craftsmanship meets impeccable design</p>

                    <button type="button" class="footer__button">+380 (68) 443-94-26</button>

            </div>
            <div class="footer__nav-box">
                <ul class="footer__nav">
                    <li class="footer__nav-li">
                        <p class="footer__nav-text">Home</p>
                    </li>
                    <li class="footer__nav-li">
                        <p class="footer__nav-text">About Us</p>
                    </li>
                    <li class="footer__nav-li">
                        <p class="footer__nav-text">Catalog</p>
                    </li>
                    <li class="footer__nav-li">
                        <p class="footer__nav-text">Sale</p>
                    </li>
                    <li class="footer__nav-li">
                        <p class="footer__nav-text">Reviews</p>
                    </li>
                    <li class="footer__nav-li">
                        <p class="footer__nav-text">Contact Us</p>
                    </li>
                </ul>

                <p class="footer__location-text">1678 S. Pioneer Road Salt Lake City UT 84104</p>
            </div>

            <div class="footer__box">
                <p class="footer__info-text">©2023 The Watch Spot. All rights reserved.</p>
                <ul class="footer__small-ul">
                    <li class="footer__small-li">
                        <p class="footer__small-text">Terms of Service</p>
                    </li>
                    <li class="footer__small-li">
                        <p class="footer__small-text">Privacy Policy</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
