<header>
    <h1 class="header-title">watchcharm</h1>

    <ul class="header-list">
        <li class="header-item">
            <p class="header-text">Home</p>
        </li>
        <li class="header-item">
            <p class="header-text">About Us</p>
        </li>
        <li class="header-item">
            <p class="header-text">Catalog</p>
        </li>
        <li class="header-item">
            <p class="header-text">Sale</p>
        </li>
        <li class="header-item">
            <p class="header-text">Reviews</p>
        </li>
        <li class="header-item">
            <p class="header-text">Contact Us</p>
        </li>
    </ul>
</header>