<header class="header">
  <div class="container header-container">
    <h1 class="header__title">watchcharm</h1>
  
    <nav>
      <ul class="header__list">
        <li class="header__item">
         <a href="#scroll-home" class="header__text" aria-label="Home">Home</a>
        </li>
        <li class="header__item">
         <a href="#scroll-about-us" class="header__text" aria-label="about-us">About Us</a>
        </li>
        <li class="header__item">
          <a href="#scroll-catalog" class="header__text" aria-label="catalog">Catalog</a>
        </li>
        <li class="header__item">
          <a href="#scroll-sale" class="header__text" aria-label="Sale">Sale</a>
        </li>
        <li class="header__item">
          <a href="#scroll-reviews" class="header__text" aria-label="Reviews">Reviews</a>
        </li>
        <li class="header__item">
          <a href="#scroll-contact-us" class="header__text" aria-label="Contact">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="header__icons">
      <li class="header__icon">
        <a href="https://www.youtube.com/" aria-label="youtube">
        <svg class="header__svg">
          <use href="./icons.svg#icon-youtube-svg"></use>
        </svg>
      </a>
      </li>
      <li class="header__icon">
        <a href="https://www.instagram.com/" aria-label="instagram">
        <svg class="header__svg">
          <use href="./icons.svg#icon-instagram-svg"></use>
        </svg>
      </a>
      </li>
      <li class="header__icon">
        <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F%3Flocale%3Duk_UA" aria-label="facebook" >
        <svg class="header__svg">
          <use href="./icons.svg#icon-facebook-svg"></use>
        </svg>
</a>
      </li>
    </ul>
    <button class="burger-btn" type="button" data-menu-open aria-label="burger">
      <svg class="burger">
        <use href="./icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>