<header class="header">
    <div class="container header-container">
        <h1 class="header__title">watchcharm</h1>
        <ul class="header__list">
            <li class="header__item">
                <p class="header__text">Home</p>
            </li>
            <li class="header__item">
                <p class="header__text">About Us</p>
            </li>
            <li class="header__item">
                <p class="header__text">Catalog</p>
            </li>
            <li class="header__item">
                <p class="header__text">Sale</p>
            </li>
            <li class="header__item">
                <p class="header__text">Reviews</p>
            </li>
            <li class="header__item">
                <p class="header__text">Contact Us</p>
            </li>
        </ul>
        <ul class="header__icons">
            <li class="header__icon">
                <svg class="header__svg">
                    <use href="../icons.svg#icon-youtube-svg"></use>
                </svg>
            </li>
            <li class="header__icon">
                <svg class="header__svg">
                    <use href="../icons.svg#icon-instagram-svg"></use>
                </svg>
            </li>
            <li class="header__icon">
                <svg class="header__svg">
                    <use href="../icons.svg#icon-facebook-svg"></use>
                </svg>
            </li>
        </ul>
        <svg class="burger">
            <use href="../icons.svg#icon-burger"></use>
        </svg>
    </div>
</header>