<section class="hero">
    <div class="container hero-container">
        <div class="hero__wrapper1">
            <h2 class="hero__title">Welcome to our <span class="hero__subtitle">collection</span> of premium watches
            </h2>
            <p class="hero__text">Our watches are not just timepieces, but also an expression of your personality and
                lifestyle.
                From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="hero__wrapper2">
            <ul class="hero__list">
                <li class="hero__item">
                    <picture>
                        <source media="(min-width: 1174px)"
                            srcset="../img/desktop/hero-people-desktop@1x.webp 1x, ../img/desktop/hero-people-desktop@2x.webp 2x ">
                        <source media="(min-width: 720px)"
                            srcset="../img/tablet/hero-people-tablet@1x.webp 1x, ../img/tablet/hero-people-tablet@2x.webp 2x ">
                        <img class="hero__people" src="../img/desktop/hero-people-desktop@1x.webp" alt="girl">
                    </picture>
                </li>
                <li class="hero__item">
                    <picture>
                        <source media="(min-width: 1174px)"
                            srcset="../img/desktop/hero-people2-desktop@1x.webp 1x, ../img/desktop/hero-people2-desktop@2x.webp 2x ">
                        <source media="(min-width: 720px)"
                            srcset="../img/tablet/hero-people2-tablet@1x.webp 1x, ../img/tablet/hero-people2-tablet@2x.webp 2x ">

                        <img class="hero__people" src="../img/desktop/hero-people2-desktop@1x.webp" alt="boy">
                    </picture>
                </li>
                <li class="hero__item">
                    <picture>
                        <source media="(min-width: 1174px)"
                            srcset="../img/desktop/hero-people3-desktop@1x.webp 1x, ../img/desktop/hero-people3-desktop@2x.webp 2x ">
                        <source media="(min-width: 720px)"
                            srcset="../img/tablet/hero-people3-tablet@1x.webp 1x, ../img/tablet/hero-people3-tablet@2x.webp 2x ">

                        <img class="hero__people" src="../img/desktop/hero-people3-desktop@1x.webp" alt="girl">
                    </picture>
                </li>
            </ul>
            <a href="#scroll" class="scrol-down">Scroll down</a>
        </div>
        <picture>
            <source media="(min-width: 1174px)"
                srcset="../img/desktop/hero-watch-desktop@1x.webp 1x, ../img/desktop/hero-watch-desktop@2x.webp 2x ">
            <source media="(min-width: 720px)"
                srcset="../img/tablet/hero-watch-tablet@1x.webp 1x, ../img/tablet/hero-watch-tablet@2x.webp 2x ">
            <source media="(min-width: 355px)"
                srcset="../img/mobile/hero-watch-mobile@1x.webp 1x, ../img/mobile/hero-watch-mobile@2x.webp 2x ">

            <img class="hero__img" src="../img/desktop/hero-watch-desktop@1x.webp" alt="watch">
        </picture>
    </div>
</section>