<section class="hero">
    <div class="container">
        <h2 class="hero-title">Welcome to our collection of premium watches</h2>
        <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and
            lifestyle.
            From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
        <ul class="hero-list">
            <li class="hero-item">
                <img class="hero-people" src="" alt="">
            </li>
            <li class="hero-item">
                <img class="hero-people" src="" alt="">
            </li>
            <li class="hero-item">
                <img class="hero-people" src="" alt="">
            </li>
        </ul>
        <h4 class="scrol-down">Scroll down</h4>
        <img class="hero-img" src="" alt="">
    </div>
</section>