<section class="hero">
    <div class="hero__box">
        <div class="hero__subbox">
            <h2 class="hero__title">Welcome to our <span class="hero__blue-title">collection</span> of premium watches
            </h2>
            <p class="hero__text">Our watches are not just timepieces, but also an expression of your personality and
                lifestyle.
                From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="hero__subboox2">
            <ul class="hero__list">
                <li class="hero__item">
                    <img class="hero__people" src="../img/hero-people-desktop@1x.webp" alt="girl">
                </li>
                <li class="hero__item">
                    <img class="hero__people" src="../img/hero-people2-desktop@1x.webp" alt="boy">
                </li>
                <li class="hero__item">
                    <img class="hero__people" src="../img/hero-people3-desktop@1x.webp" alt="girl">
                </li>
            </ul>
            <h4 class="scrol-down">Scroll down</h4>
        </div>
    </div>
    <img class="hero__img" src="../img/hero-watch-desktop@1x.webp" alt="watch">
</section>