<div class="mobile-menu is-hidden" data-menu>
  <button type="button" class="mobile-close" data-menu-close>
    <svg class="mobile-close-svg">
      <use href="./icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a href="#scroll-home" class="mobile-menu-text">Home</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#scroll-about-us" class="mobile-menu-text">About Us</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#scroll-catalog" class="mobile-menu-text">Catalog</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#scroll-sale" class="mobile-menu-text">Sale</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#scroll-reviews" class="mobile-menu-text">Reviews</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#scroll-contact-us" class="mobile-menu-text">Contact Us</a>
    </li>
  </ul>

  <ul class="mobile-menu-networks">
    <li class="mobile-menu-network">
<a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F%3Flocale%3Duk_UA">
      <svg class="mobile-svg">
        <use href="./icons.svg#icon-facebook-svg"></use>
      </svg>
    </a>
    </li>
    <li class="mobile-menu-network">
<a href="https://www.instagram.com/">
      <svg class="mobile-svg">
        <use href="./icons.svg#icon-instagram-svg"></use>

      </svg>
    </a>
    </li>
    <li class="mobile-menu-network">
<a href="https://www.youtube.com/">
      <svg class="mobile-svg">
        <use href="./icons.svg#icon-youtube-svg"></use>
      </svg>
    </a>
    </li>
  </ul>
</div>
