<div class="mobile-menu">
    <button class="mobile-close">
        <svg class="mobile-close-svg">
            <use href="../icons.svg#icon-close"></use>
        </svg>
    </button>

    <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
            <p class="mobile-menu-text">Home</p>
        </li>
        <li class="mobile-menu-item">
            <p class="mobile-menu-text">About Us</p>
        </li>
        <li class="mobile-menu-item">
            <p class="mobile-menu-text">Catalog</p>
        </li>
        <li class="mobile-menu-item">
            <p class="mobile-menu-text">Sale</p>
        </li>
        <li class="mobile-menu-item">
            <p class="mobile-menu-text">Reviews</p>
        </li>
        <li class="mobile-menu-item">
            <p class="mobile-menu-text">Contact Us</p>
        </li>
    </ul>

    <ul class="mobile-menu-networks">
        <li class="mobile-menu-network">
            <svg class="mobile-svg">
                <use href="../icons.svg#icon-facebook-svg"></use>
            </svg>
        </li>
        <li class="mobile-menu-network">
            <svg class="mobile-svg">
                <use href="../icons.svg#icon-instagram-svg"></use>
            </svg>
        </li>
        <li class="mobile-menu-network">
            <svg class="mobile-svg">
                <use href="../icons.svg#icon-youtube-svg"></use>
            </svg>
        </li>
    </ul>
</div>