<section class="reviews">
    <div class="container">
        <h2 class="reviews-item">
            Reviews
        </h2>
        <div class="reviews-cards">
            <div class="reviews-card people1">
                <picture>
                    <source media="(min-width: 1174px)"
                        srcset="./img/desktop/man1xdesctope.webp 1x, ./img/desktop/man2xdesctope.webp 2x">
                    <source media="(min-width: 720px)"
                        srcset="./img/tablet/man1xtablet.webp 1x, ./img/tablet/man2xtablet.webp 2x">
                    <source media="(min-width: 355px)"
                        srcset="./img/mobile/man1xmobail.webp 1x, ./img/mobile/man2xmobail.webp 2x">
                        <img class="reviews-imag" src="./img/man1.png" alt="">
                </picture>
                
                <h3 class="reviews-subitem">John Wax</h3>
                <p class="reviews-text">Buying a watch from was the best choice for me. The design is perfectly
                    combined with high
                    quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</p>
            </div>
            <div class="reviews-card people2">
                <picture>
                    <source media="(min-width: 1174px)"
                        srcset="./img/desktop/woman1-1xdesctope.webp 1x, ./img/desktop/women1-2xdesctope.webp 2x">
                    <source media="(min-width: 720px)"
                        srcset="./img/tablet/woman1-1xtablet.webp 1x, ./img/tablet/woman1-2xtablet.webp 2x">
                        <img class="reviews-imag" src="./img/women2.png" alt="">
                </picture>
             
                <h3 class="reviews-subitem">Victoria Romashenko</h3>
                <p class="reviews-text">Can't take my eyes off my watch from. Every time I put it on, it is admired
                    by those around me.
                    The build quality and attention to detail make it a real gem among my accessories.</p>
            </div>
            <div class="reviews-card people3">
                <picture>
                    <source media="(min-width: 1174px)"
                        srcset="./img/desktop/women2-1xdesctope.webp 1x, ./img/desktop/women2-2xdesctope.webp 2x">
                        <img class="reviews-imag" src="./img/women3.png" alt="">
                </picture>
                
                <h3 class="reviews-subitem">Anastasia Trachuk</h3>
                <p class="reviews-text">My watch from is a real masterpiece. Every detail impresses with the high
                    quality of execution.
                    Special features like [specify features] make it an indispensable companion in my daily life.
                </p>
            </div>
        </div>
    </div>
    </section>