<section id="scroll-reviews" class="reviews">
    <div class="container">
        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <h2 class="reviews-item">
                Reviews
            </h2>
        </div>
        <div class="reviews-cards">
        </div>
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true"
            space-between="30" centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
            <swiper-slide>
                <div data-aos="fade-right">
                    <div class="reviews-card people1">
                        <picture>
                            <source media="(min-width: 1174px)"
                                srcset="./img/desktop/man1xdesctope.webp 1x, ./img/desktop/man2xdesctope.webp 2x">
                            <source media="(min-width: 720px)"
                                srcset="./img/tablet/man1xtablet.webp 1x, ./img/tablet/man2xtablet.webp 2x">
                            <source media="(min-width: 355px)"
                                srcset="./img/mobile/man1xmobail.webp 1x, ./img/mobile/man2xmobail.webp 2x">
                            <img class="reviews-imag" src="./img/man1.png" alt="">
                        </picture>

                        <h3 class="reviews-subitem">John Wax</h3>
                        <p class="reviews-text">Buying a watch from was the best choice for me. The design is
                            perfectly
                            combined with high
                            quality materials. The strap fits nicely on the hand, and the mechanism works
                            flawlessly.</p>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div data-aos="zoom-in">
                    <div class="reviews-card people2">
                        <picture>
                            <source media="(min-width: 1174px)"
                                srcset="./img/desktop/woman1-1xdesctope.webp 1x, ./img/desktop/women1-2xdesctope.webp 2x">
                            <source media="(min-width: 720px)"
                                srcset="./img/desktop/woman1-1xdesctope.webp 1x, ./img/desktop/women1-2xdesctope.webp 2x">
                            <source media="(min-width: 720px)"
                                srcset="./img/desktop/woman1-1xdesctope.webp 1x, ./img/desktop/women1-2xdesctope.webp 2x">
                            <img class="reviews-imag" src="../img/desktop/woman1-1xdesctope.webp" alt="">
                        </picture>

                        <h3 class="reviews-subitem">Victoria Romashenko</h3>
                        <p class="reviews-text">Can't take my eyes off my watch from. Every time I put it on, it is
                            admired
                            by those around me.
                            The build quality and attention to detail make it a real gem among my accessories.</p>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div data-aos="fade-left">
                    <div class="reviews-card people3">
                        <picture>
                            <source media="(min-width: 1174px)"
                                srcset="./img/desktop/women2-1xdesctope.webp 1x, ./img/desktop/women2-2xdesctope.webp 2x">
                            <source media="(min-width: 720px)"
                                srcset="./img/desktop/women2-1xdesctope.webp 1x, ./img/desktop/women2-2xdesctope.webp 2x">
                            <source media="(min-width: 355px)"
                                srcset="./img/desktop/women2-1xdesctope.webp 1x, ./img/desktop/women2-2xdesctope.webp 2x">
                            <img class="reviews-imag" src="../img/desktop/women2-1xdesctope.webp" alt="">
                        </picture>

                        <h3 class="reviews-subitem">Anastasia Trachuk</h3>
                        <p class="reviews-text">My watch from is a real masterpiece. Every detail impresses with the
                            high
                            quality of execution.
                            Special features like [specify features] make it an indispensable companion in my daily
                            life.
                        </p>
                    </div>
            </swiper-slide>
        </swiper-container>

    </div>
    </div>
</section>