<section class="sale">
  <div class="container">
    <h3 class="sale-tittle">Sale</h3>
    <div class="sale-container">
      <div class="sale-unifying">
        <ul class="sale-list">
          <li class="sale-item">
            <picture>
              <source
                media="(min-width:1174px )"
                srcset="
                  ./img/desktop/sale-clock1-decktop@1x.webp 1x,
                  ./img/desktop/sale-clock1-decktop@2x.webp 2x
                "
              />
              <source
                media="(min-width: 720px)"
                srcset="
                  ./img/tablet/sale-clock1-tablet@1x.webp 1x,
                  ./img/tablet/sale-clock1-tablet@2x.webp 2x
                "
              />
              <source
                media="(min-width: 355px )"
                srcset="
                  ./img/mobile/sale-clock1-mobile@1x.webp 1x,
                  ./img/mobile/sale-clock1-mobile@2x.webp
                "
              />
              <img
                class="sale-clock"
                src="./img/sale/sale-clock1.png"
                alt="clock"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                media="(min-width:1174px )"
                srcset="
                  ./img/desktop/sale-clock2-descktop@1x.webp 1x,
                  ./img/desktop/sale-clock2-descktop@2x.webp 2x
                "
              />
              <source
                media="(min-width: 720px)"
                srcset="
                  ./img/tablet/sale-clock2-tablet@1x.webp 1x,
                  ./img/tablet/sale-clock2-tablet@2x.webp 2x
                "
              />
              <source
                media="(min-width: 355px)"
                srcset="
                  ./img/mobile/sale-clock2-mobile@1x.webp 1x,
                  ./img/mobile/sale-clock2-mobile@2x.webp 2x
                "
              />
              <img
                class="sale-clock"
                src="./img/sale/sale-clock2.png"
                alt="clock"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                media="(min-width:1174px )"
                srcset="
                  ./img/desktop/sale-clock3-decktop@1x.webp 1x,
                  ./img/desktop/sale-clock3-decktop@2x.webp 2x
                "
              />
              <source
                media="(min-width: 720px )"
                srcset="
                  ./img/tablet/sale-clock3-tablet@1x.webp 1x,
                  ./img/tablet/sale-clock3-tablet@2x.webp 2x
                "
              />
              <source
                media="(min-width: 355px)"
                srcset="
                  ./img/mobile/sale-clock3-mobile@1x.webp 1x,
                  ./img/mobile/sale-clock3-mobile@2x.webp 2x
                "
              />
              <img
                class="sale-clock"
                src="./img/sale/sale-clock3.png"
                alt="clock"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                media="(min-width: 1174px)"
                srcset="
                  ./img/desktop/sale-clock4-decktop@1x.webp 1x,
                  ./img/desktop/sale-clock4-decktop@2x.webp 2x
                "
              />
              <source
                media="(min-width: 720px )"
                srcset="
                  ./img/tablet/sale-clock4-tablet@1x.webp 1x,
                  ./img/tablet/sale-clock4-tablet@2x.webp 2x
                "
              />
              <source
                media="(min-width: 355px )"
                srcset="
                  ./img/mobile/sale-clock4-mobile@1x.webp 1x,
                  ./img/mobile/sale-clock4mobile@2x.webp  2x
                "
              />
              <img
                class="sale-clock"
                src="./img/sale/sale-clock4.png"
                alt="clock"
              />
            </picture>
          </li>
        </ul>
        <div class="wach-container">
          <picture>
            <source
              media="(1174px)"
              srcset="
                ./img/desktop/sale-watch-decktop@1x.webp 1x,
                ./img/desktop/sale-watch-decktop@2x.webp 2x
              "
            />
            <source
              media="(720px)"
              srcset="
                ./img/tablet/sale-watch-tablet@1x.webp 1x,
                ./img/tablet/sale-watch-tablet@2x.webp 2x
              "
            />
            <source
              media="(min-width:355px )"
              srcset="
                ./img/mobile/sale-watch-mobile@1x.webp 1x,
                ./img/mobile/sale-watch-mobile@2x.webp 2x
              "
            />
            <img
              src="./img/sale/sale-watch.png"
              alt="watch"
              class="sale-watch"
            />
          </picture>
        </div>
      </div>
      <ul class="sale-list-card">
        <li class="sale-item-card">
          <h4 class="sale-card-tittle">
            MARQ® Commander (Gen 2) - Carbon Edition
          </h4>
        </li>
        <li class="sale-item-card">
          <p class="sale-tage">Product tag: 706587</p>
        </li>
        <li class="sale-item-card">
          <div class="sale-card-container">
            <div class="sale-prise-container">
              <p class="sale-price">€1500</p>
            </div>
            <p class="sale-cross">€3000</p>
          </div>
        </li>
        <li class="sale-item-card">
          <p class="sale-information">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
        </li>
        <li class="sale-item-card">
          <div class="sale-people-container">
            <span class="sale-people">Fused carbon fiber </span
            ><span class="sale-people">Grade-5 Titanuim</span
            ><span class="sale-people">Athlete</span
            ><span class="sale-people">Golfer</span
            ><span class="sale-people">Commander</span
            ><span class="sale-people">Adventurer</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
